<% container_class = ['tag-select custom-fields', local_assigns[:container_class]].compact.join(' ') %>
<% label_class = ['tag-description', local_assigns[:label_class]].compact.join(' ') %>

<% unless custom_fields.blank? %>
  <div class="<%= container_class %> list-bar-custom-fields">
    <strong>Custom fields</strong>
    <div class="tag-select-box">
      <% custom_fields.each do |cf| %>
        <label class="<%= label_class %>"><%= cf.name %>: <%= cf.value %></label>
      <% end %>
    </div>
  </div>
<% end %>