<% unless custom_fields.blank? %>
    <div class="tag-select" onclick="void(0)">
      <span><i class="fa fa-sticky-note"></i><i class="fa fa-caret-down"></i></span>

      <div class="tag-select-box">
        <strong>Custom fields:</strong>
        <% custom_fields.each do |cf| %>
            <label class='tag-description'><%= cf.name %>: <%= cf.value %></label>
        <% end %>
      </div>
    </div>
<% end %>
