<h3 class="pageHeader">Custom Fields</h3>

<table id="custom_fields-table" class="table table-condensed">
  <thead>
    <tr>
      <th>Object ID</th>
      <th>Object type</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="1" class="dataTables_empty">Loading data from server</td>
    </tr>
  </tbody>
</table>

<h3><%= link_to 'Add a new custom field', new_custom_field_path %></h3>

<%= javascript_tag do %>
$(document).ready(function() {
  $('#custom_fields-table').dataTable({
    "dom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
    "pagingType": "full_numbers",
    "processing": true,
    "serverSide": true,
    "ajax": "<%= custom_fields_pagination_path :format => :json %>"
  });
});
<% end %>
