<%
=begin%>
 <div class="register">
  <div class="col-md-8 col-md-offset-2">

    <div class="column-block">
      <h1>Add new custom field</h1>
      <%= render 'form' %>
    </div>

  </div>
</div> 
<%
=end%>


<div class="register add-new-custom-field-details">
  <div class="">
        <div class="mx-auto" style="max-width: 600px;">
          <% if can? :create, Kaui::AdminTenant %>
            <h5 class="add-new-custom-field-title border-bottom pb-3 mb-3">
                <span class="icon-container">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.66699 5.83366C1.66699 4.91318 2.41318 4.16699 3.33366 4.16699H16.667C17.5875 4.16699 18.3337 4.91318 18.3337 5.83366V14.167C18.3337 15.0875 17.5875 15.8337 16.667 15.8337H3.33366C2.41318 15.8337 1.66699 15.0875 1.66699 14.167V5.83366Z" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M11.667 8.74967L13.3337 7.08301L15.0003 8.74967M11.667 11.2497L13.3337 12.9163L15.0003 11.2497" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M5 10H8.33333" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
                Add New Custom Field
            </h5>
            <%= render 'form' %>
          <% else %>
                  <p>You are not allowed to create tenants, please contact your administrator.</p>
          <% end %> 
        </div>
    </div>
</div>


<style>
  .add-new-custom-field-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0;
    color: #1B1C1E;
    padding: 1.5rem 0;
  }

  .icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0.0625rem solid #D5D7DA;
    border-radius: 0.375rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
  }

  .icon-container img {
    width: 1rem;
    height: 1rem;
  }
    
  .control-label {
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    line-height: 1.25rem !important;
    color: #414651 !important;
  }

  .add-new-custom-field-details select.form-control  {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6L8 10L12 6" stroke="%23A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.625rem center;
    background-size: 1rem 1rem;
  }

  .add-new-custom-field-details select:focus {
    box-shadow: none;
    outline: none;
    border-color: #1570ef;
  }

  .form-group .form-control {
    margin-right: 0.25rem;
    height: 2.5rem;
    border-radius: 0.375rem;
  }

</style>