<!DOCTYPE html>
<html>
  <head>
    <title>We're sorry, but something went wrong (500)</title>
    <style type="text/css">
      body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
      div.dialog {
        width: 35em; /* Increase the width of the dialog */
        padding: 1em 6em; /* Increase the padding of the dialog */
        margin: 4em auto 0 auto;
        border: 0.0625rem solid #ccc;
        border-right-color: #999;
        border-bottom-color: #999;
        font-size: 1.2em; /* Increase the font size in the dialog */
      }
      h1 { font-size: 100%; color: #f00; line-height: 1.0em; } /* Increase the font size of the title */
    </style>
  </head>

  <body>
    <!-- This file lives in public/500.html -->
    <div class="dialog">
      <h1>We're sorry, but something went wrong.</h1>
      <% if @error.present? %>
        <p><%= @error %></p>
      <% end %>
    </div>
  </body>
</html>
