<div class="kaui-container">
  <%= render "kaui/components/breadcrumb/breadcrumb" %>
  <div class="d-flex " style="gap: 4rem;">
    <%= render :template => 'kaui/layouts/kaui_account_sidebar' %>
    <div class="account-tags">
      <div class="d-flex flex-column ">
        <div class="account-tags-header mb-4">
          <div class="d-flex align-items-center">
            <h2>Tags</h2>
          </div>
          <input type="hidden" id="tags" value="<%= @tags_json %>">
        </div>
        <table id="tags-table" class="account-tags-table">
          <thead>
          <tr>
            <th>Tag ID</th>
            <th>Object ID</th>
            <th>Object type</th>
            <th>Tag definition name</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<style>
  .account-tags {
    width: 67.5625rem;
  }

  .account-tags .account-tags-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    border-bottom: 0.0625rem solid #E9EAEB;
  }

  .account-tags .account-tags-header h2 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #414651;
    margin-bottom: 1.25rem;
  }

  .account-tags .bundle-details-header b {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0;
    color: #414651;
  }

  .account-tags .bundle-details-header p {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0;
    color: #717680;
  }

  .account-tags .account-tags-table {
    overflow-x: auto;
    min-width: 100%;
  }


  .account-tags .account-tags-table th {
    padding: 0.375rem 1.625rem 0.375rem 0.75rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0;
    color: #717680;
    text-transform: capitalize;
  }

  .account-tags .account-tags-table tr td:not(:first-child) a {
    color: #535862 !important;
    text-decoration: none !important;
  }

  .account-tags .account-tags-table .category-bedge {
    display: inline-block;
    padding: 0.125rem 0.5rem !important;
    border: 0.0625rem solid #F5F5F5 !important;
    border-radius: 624.9375rem;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    text-align: start;
    color: #414651 !important;
    background-color: #FAFAFA;
    text-transform: capitalize;
  }

  .account-tags .account-tags-table .phase-type {
    display: inline-block;
    padding: 0.125rem 0.5rem !important;
    border: 0.0625rem solid #D1E9FF !important;
    border-radius: 624.9375rem;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    text-align: start;
    color: #175CD3 !important;
    background-color: #EFF8FF;
    text-transform: capitalize;
  }

  .account-tags .account-tags-table td {
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    padding: 1rem 0.5rem !important;
    line-height: 1.125rem !important;
    text-align: start;
    color: #535862 !important;
    text-transform: capitalize !important;
  }

  .account-tags .search table th:first-of-type, .search table td:first-of-type {
    font-weight: 500 !important;
  }

  .account-tags .cancel-menu ul {
    padding: 0.25rem 0.375rem !important;
    min-width: 16rem;
  }

  .account-tags .cancel-menu li {
    padding: 0.5rem;
    border-radius: 0.25rem;
  }

  .account-tags .cancel-menu li:hover {
    background-color: #FAFAFA !important;
  }

  .account-tags .cancel-menu li a {
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    letter-spacing: 0 !important;
    color: #717680 !important;
    text-transform: capitalize !important;
    text-decoration: none;
  }

  .account-tags .cancel-button {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    color: #D92D20 !important;
    flex-direction: row-reverse;
    text-transform: capitalize;
    gap: 0.0625rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0;
    margin-left: 0.75rem;
    text-decoration: none;
  }

  .account-tags table.dataTable {
    overflow: auto !important;
  }

  .account-tags .dots-menu {
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
    margin-left: 0.75rem !important;
  }

  .account-tags .change-btn {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0;
    color: #535862;
    margin-left: 0.75rem;
    text-decoration: none;
  }

  .account-tags table.account-tags-table thead tr th::after {
    content: "" !important;
    display: inline-block !important;
    width: 0.75rem !important;
    height: 0.75rem !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3 5.5L6 2.5L9 5.5' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 0.75rem 0.75rem !important;
    position: absolute !important;
    right: 0.5rem !important;
    top: 45% !important;
    transform: translateY(-50%) !important;
  }

  .account-tags table.account-tags-table thead tr th::before {
    content: "" !important;
    display: inline-block !important;
    width: 0.75rem !important;
    height: 0.75rem !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3 6.5L6 9.5L9 6.5' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 0.75rem 0.75rem !important;
    position: absolute !important;
    right: 0.5rem !important;
    bottom: 45% !important;
    transform: translateY(50%) !important;
  }


  .account-tags .pagination a:not(:first-child):not(:last-child) {
    color: #717680;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0;
  }

  .account-tags .pagination a:not(:first-child):not(:last-child).btn-primary {
    color: #414651;
    background-color: #F5F5F5 !important;
    border: 0 !important;
  }

  .account-tags .dataTables_paginate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .account-tags .dataTables_paginate span .paginate_button {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: #717680 !important; 
    text-decoration: none;
    border: 0 !important;
  }

  .account-tags .dataTables_paginate .paginate_button:hover {
    background-color: #F3F4F6;
  }

  .account-tags .dataTables_paginate .paginate_button.current {
    background-color: #F5F5F5 !important;
    border-radius: 0.375rem !important;
    color: #414651 !important;
  }

  .account-tags .dataTables_paginate .paginate_button.last,
  .account-tags .dataTables_paginate .paginate_button.previous {
    border: 0.0625rem solid #E5E7EB;
    border-radius: 0.5rem;
    background-color: white;
    padding: 0.5rem 0.875rem;
    color: #374151;
  }

  .account-tags #account-tags-table_first,
  .account-tags #account-tags-table_last {
    display: none !important;
  }

  .account-tags #tags-table_filter {
    position: absolute;
    right: 0;
    top: -4.375rem;
  }

  .account-tags #tags-table_filter input {
    width: 20rem;
    height: 2.2rem;
    padding: 0.3rem 1rem;
    border: 0.0625rem solid #E5E7EB;
    border-radius: 0.375rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #414651;
    outline: none;
  }

  .account-tags #tags-table_filter input:focus {
    border-color: blue;
  }

  .account-tags #tags-table_wrapper .row:nth-of-type(2) {
    margin-top: 1.5rem;
  }

  .account-tags #tags-table tbody tr td span {
    padding: 0.125rem 0.5rem;
    border-radius: 62.4375rem;
    background-color: #EFF8FF;
    border: 0.0625rem solid #D1E9FF;
    color: #175CD3;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
</style>


<%= javascript_tag do %>
    $(document).ready(function() {
        var tags = JSON.parse($("#tags").val());
        $('#tags-table').DataTable({
            "dom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
            data: tags
        });
    });

    setTimeout(() => {
      $('#tags-table tbody tr').each(function () {
        const $td = $(this).find('td:nth-of-type(3)');
        const content = $td.text().trim();
        $td.html(`<span>${content}</span>`);
      });
    }, 50);
<% end %>
