<div class="register">
  <div class="col-md-8 col-md-offset-2">

    <div class="column-block">
      <% if @subscription.product_category == 'ADD_ON' %>
          <h1>Add new add-on</h1>
      <% elsif @subscription.product_category == 'STANDALONE' %>
          <h1>Add new standalone subscription</h1>
      <% else %>
          <h1>Add new subscription</h1>
      <% end %>

      <%= render 'form' %>
    </div>

  </div>
</div>
