<div class="page-header">
  <% if @subscription.product_category == 'ADD_ON' %>
      <h1>Add Add-On subscription</h1>
  <% else %>
      <h1>Create new base subscription</h1>
  <% end %>
</div>

<%= render 'form' %>
