<tr>
  <th>Contact emails:</th>
  <td>
    <% if account_emails.present? %>
        <% account_emails.each_with_index do |account_email, idx| %>
            <%= account_email.email %>
            <%= link_to '&nbsp;<i class="fa fa-times"></i>'.html_safe, kaui_engine.account_account_email_path(account_email.account_id, account_email.email), :method => :delete %>
            <% if idx < account_emails.length - 1 %>,
            <% end %>
        <% end %>
    <% end %>
    <%= link_to '&nbsp<i class="fa fa-plus"></i>'.html_safe, kaui_engine.new_account_account_email_path(@account.account_id) %>
  </td>
</tr>
