<div class="tab-pane fade in active" id="CatalogShow">
  <%= render :partial => 'show_catalog_simple' %>
  <%= render :partial => 'show_catalog_xml' %>
</div>


<%= javascript_tag do %>

function switchBasicConfig() {
    $('#catalog_xml').hide();
    initBasicConfig();
    $('#catalog_simple').show();
}

function switchXMLConfig() {
    $('#catalog_simple').hide();
    $('#catalog_xml').show();
}

$(document).ready(function() {
    switchBasicConfig();
});

<% end %>

