<div class="search">

  <div class="column-block">

    <h1>Kaui tenants
      <% if can? :create, Kaui::AdminTenant %>
          <%= link_to '&nbsp;<i class="fa fa-plus-square"></i>'.html_safe, new_admin_tenant_path %>
      <% end %></h1>

    <% unless @tenants.empty? %>
        <%= render :partial => 'kaui/admin_tenants/tenants_table', :locals => {:tenants => @tenants} %>
    <% end %>

  </div>

</div>
