<% unless @tenants.empty? %>
    <%= render :partial => 'kaui/admin_tenants/tenants_table', :locals => {:tenants => @tenants} %>
<% end %>

<% if can? :create, Kaui::AdminTenant %>
    <h3><%= link_to 'Configure a new Tenant', new_admin_tenant_path %></h3>
<% end %>
