<h2>Number of accounts created over time</h2>

<div id="chart"></div>

<%= javascript_tag do %>
  $(document).ready(function() {
    drawGraph(<%=raw @accounts.dates.to_json %>, <%=raw @accounts.values.to_json %>, "chart");
  });
<% end %>