$smphone: unquote("max-width: 450px");
$phone: unquote("max-width: 768px");
$tablet: unquote("max-width: 1024px");

@import "common.scss";
@import "header.scss";

@import "home.scss";

@import "tags.scss";
@import "subscription.scss";
@import "invoice.scss";
@import "payment.scss";
@import "timeline.scss";

@import "datatable.scss";

@import "account.scss";
@import "overdue.scss";

@import "audit.scss";