<%= form_tag payment_methods_path, :class => "form-horizontal", :method => :get do %>
    <fieldset>
      <legend>Payment Methods</legend>
      <div class="control-group">
        <label class="control-label" for="key">Account</label>

        <div class="controls">
          <%= text_field_tag 'key', nil, :class => "input-xlarge", :id => "key", :placeholder => "accountId, PayPalEmail, BAID, Last4cc" %>
        </div>
      </div>
      <div class="form-actions">
        <%= button_tag "Search", :class => "btn btn-primary" %>
      </div>
    </fieldset>
<% end %>
