<div class="register">
  <div class="">
        <div class="mx-auto" style="max-width:  37.5rem;">
            <h5 class="add-account-title border-bottom">
                <span class="icon-container">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.58325 9.1665H7.08325" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.0833 5.8335H7.08325" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16.6666 17.9165V3.33317C16.6666 2.4127 15.9204 1.6665 14.9999 1.6665H4.99992C4.07944 1.6665 3.33325 2.4127 3.33325 3.33317V17.9165L6.66659 16.2498L9.99992 18.3332L13.3333 16.2498L16.6666 17.9165Z" stroke="#414651" stroke-width="1.5" stroke-linejoin="round"/>
                  </svg>
                </span>
                Add new charge
            </h5>
            <%= render 'form' %>
        </div>
    </div>
</div>

<style>
  .add-account-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0;
    color: #1B1C1E;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
  }

  .icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0.0625rem solid #D5D7DA;
    border-radius: 0.375rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
  }

  .icon-container img {
    width: 1rem;
    height: 1rem;
  }
</style>