<div class="column-block">

  <h1>Useful links</h1>

  <ul>
    <li><%= link_to 'PENDING payments', kaui_engine.payments_path(:q => 'PENDING') %></li>
    <li><%= link_to 'UNKNOWN payments', kaui_engine.payments_path(:q => 'UNKNOWN') %></li>
  </ul>

</div>
