<div class="search">

  <div class="column-block">

    <h1>Payments</h1>

    <table id="payments-table" class="table table-condensed mobile-data">
      <thead>
      <tr>
        <th>Number</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Refund amount</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="1" class="dataTables_empty">Loading data from server</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

<%= javascript_tag do %>
$(document).ready(function() {
  $('#payments-table').dataTable({
    "dom": "t",
    "paging": false,
    "order": [[ 0, "desc" ]],
    "processing": true,
    "serverSide": true,
    "search": {"search": "<%= @search_query %>"},
    "ajax": "<%= payments_pagination_path :format => :json %>"
  });
});
<% end %>
