<%
=begin%>
 <div class="register">
  <div class="col-md-8 col-md-offset-2">

    <div class="column-block">
      <h1>Process payment</h1>
      <%= render 'form' %>
    </div>

  </div>
</div> 
<%
=end%>


<div class="register">
  <div class="">
        <div class="mx-auto" style="max-width:  37.5rem;">
            <h5 class="add-account-title border-bottom">
                <span class="icon-container">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.6667 3.33301H3.33341C2.41294 3.33301 1.66675 4.0792 1.66675 4.99967V14.9997C1.66675 15.9202 2.41294 16.6663 3.33341 16.6663H16.6667C17.5872 16.6663 18.3334 15.9202 18.3334 14.9997V4.99967C18.3334 4.0792 17.5872 3.33301 16.6667 3.33301Z" stroke="#414651" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.33325 13.333H9.58325M12.0833 13.333H14.9999" stroke="#414651" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1.66675 7.5H18.3334" stroke="#414651" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                  </svg>
                </span>
                Process payment
            </h5>
            <%= render 'form' %>
        </div>
    </div>
</div>


<style>
  .add-account-title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.75rem;
      letter-spacing: 0;
      color: #1B1C1E;
      padding: 1rem 0;
      margin-bottom: 1.5rem;
  }

  .icon-container {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 0.0625rem solid #D5D7DA;
      border-radius: 0.375rem;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.25rem;
  }

  .icon-container img {
      width: 1rem;
      height: 1rem;
  }
</style>