<div class="search">

  <div class="column-block">

    <h1>Payment <%= @payment.payment_number %></h1>

    <% if @payment.target_invoice_id.present? %>
        <%= link_to 'Invoice', account_invoice_path(@account.account_id, @payment.target_invoice_id) %>
    <% end %>

    <%= render :partial => 'kaui/payments/payment_table',
               :locals => {:payment => @payment, :account => @account} %>

  </div>

</div>

<div class="column-block">

  <h1>Payment Method Details</h1>

  <div class="fix-position">
    <% if @payment_method.nil? %>
        The Payment method has been deleted.
    <% else %>
        <%= render :partial => 'kaui/payment_methods/payment_methods_details_table', :locals => {:payment_method => @payment_method} %>
    <% end %>
  </div>

</div>
