.kaui-audit-logs-index .audit-logs {
  max-width: 67.5625rem;
}

.kaui-audit-logs-index .audit-logs .audit-logs-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0;
  border-bottom: 0.0625rem solid #e9eaeb;
}

.kaui-audit-logs-index .audit-logs-table th,
.kaui-audit-logs-index .audit-logs-table td {
  white-space: nowrap;
  text-align: left;
}

.kaui-audit-logs-index .audit-logs .audit-logs-header h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #414651;
  margin-bottom: 1.25rem;
}

.kaui-audit-logs-index .audit-logs .audit-logs-table {
  overflow-x: auto;
  min-width: 100%;
}

.kaui-audit-logs-index .audit-logs .audit-logs-table th {
  padding: 0.375rem 1.625rem 0.375rem 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0;
  color: #717680;
  text-transform: capitalize;
}

.kaui-audit-logs-index .audit-logs .audit-logs-table tr td:not(:first-child) a {
  color: #535862 !important;
  text-decoration: none !important;
}

.kaui-audit-logs-index .audit-logs tbody tr td:nth-child(3) span {
  gap: 0.125rem;
  padding: 0.125rem 0.5rem;
  border-radius: 62.4375rem;
  background-color: #eff8ff;
  border: 0.0625rem solid #d1e9ff;
  color: #175cd3;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.kaui-audit-logs-index .audit-logs tbody tr.delete td:nth-child(4) span {
  gap: 0.125rem;
  padding: 0.125rem 0.5rem;
  border-radius: 62.4375rem;
  background-color: #fef3f2;
  border: 0.0625rem solid #fee4e2;
  color: #b42318;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.kaui-audit-logs-index .audit-logs tbody tr.insert td:nth-child(4) span {
  gap: 0.125rem;
  padding: 0.125rem 0.5rem;
  border-radius: 62.4375rem;
  background-color: #ecfdf3;
  border: 0.0625rem solid #dcfae6;
  color: #067647;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.kaui-audit-logs-index .audit-logs tbody tr.update td:nth-child(4) span {
  gap: 0.125rem;
  padding: 0.125rem 0.5rem;
  border-radius: 62.4375rem;
  background-color: #fffaeb;
  border: 0.0625rem solid #fef0c7;
  color: #b54708;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.kaui-audit-logs-index .audit-logs tbody tr td:nth-child(2) {
  font-weight: 600 !important;
}

.kaui-audit-logs-index .audit-logs .audit-logs-table td {
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  padding: 1rem 0.5rem !important;
  line-height: 1.125rem !important;
  text-align: start;
  color: #535862 !important;
}

.kaui-audit-logs-index .audit-logs table.dataTable {
  overflow: auto !important;
}

.kaui-audit-logs-index
  .audit-logs
  .pagination
  a:not(:first-child):not(:last-child) {
  color: #717680;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
}

.kaui-audit-logs-index
  .audit-logs
  .pagination
  a:not(:first-child):not(:last-child).btn-primary {
  color: #414651;
  background-color: #f5f5f5 !important;
  border: 0 !important;
}

.kaui-audit-logs-index .audit-logs .dataTables_paginate {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

.kaui-audit-logs-index .audit-logs .dataTables_paginate span .paginate_button {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: #717680 !important;
  text-decoration: none;
  border: 0 !important;
}

.kaui-audit-logs-index .audit-logs .dataTables_paginate .paginate_button:hover {
  background-color: #f3f4f6;
}

.kaui-audit-logs-index
  .audit-logs
  .dataTables_paginate
  .paginate_button.current {
  background-color: #f5f5f5 !important;
  border-radius: 0.375rem !important;
  color: #414651 !important;
}

.kaui-audit-logs-index .audit-logs .dataTables_paginate .paginate_button.last,
.kaui-audit-logs-index
  .audit-logs
  .dataTables_paginate
  .paginate_button.previous {
  border: 0.0625rem solid #e5e7eb;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem 0.875rem;
  color: #374151;
}

.kaui-audit-logs-index .audit-logs #audit-logs-table_filter {
  position: absolute;
  right: 10rem;
  top: -4.625rem;
}

.kaui-audit-logs-index .audit-logs #audit-logs-table_filter input {
  width: 20rem;
  height: 2.2rem;
  padding: 0.3rem 1rem;
  border: 0.0625rem solid #e5e7eb;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #414651;
  outline: none;
}

.kaui-audit-logs-index .dropdown-menu#column-visibility {
  max-height: 18.75rem;
  width: 13.75rem;
  overflow-y: auto;
}

.kaui-audit-logs-index .dropdown-menu {
  padding: 0.3125rem;
}

.kaui-audit-logs-index .toggle-button-right {
  float: right;
  margin-bottom: 0.625rem;
  margin-left: 0.625rem;
  background-color: white;
  color: black;
  text-transform: none;
  border: 0.0625rem solid #ccc;
  padding: 0.5rem 0.9375rem;
}

.kaui-audit-logs-index .download-button-right {
  float: right;
  margin-bottom: 0.625rem;
  margin-left: 0.625rem;
  background-color: white;
  color: black;
  text-transform: none;
  border: 0.0625rem solid #ccc;
  padding: 0.5rem 0.9375rem;
}

.kaui-audit-logs-index .icon-drag {
  float: right;
  padding: 0.3125rem;
}

.kaui-audit-logs-index .dropdown-container {
  display: flex;
  justify-content: flex-end;
}

.kaui-audit-logs-index .label-group-item-manual {
  margin: 0.3125rem;
  width: -webkit-fill-available;
  cursor: grab;
}

.kaui-audit-logs-index .label-group-item-manual:active {
  cursor: grabbing;
}

.kaui-audit-logs-index .modal-content {
  border-radius: 1rem;
  min-width: 40.5rem;
}

.kaui-audit-logs-index .modal-body {
  padding-bottom: 0.375rem !important;
  padding-top: 1.25rem !important;
}

.kaui-audit-logs-index .modal-header {
  padding: 1.5rem 1.5rem 1rem 1.5rem !important;
}

.kaui-audit-logs-index .modal-footer {
  padding: 1rem 1.5rem 1.5rem 1.5rem !important;
}

.kaui-audit-logs-index .modal-title {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #181d27;
}

.kaui-audit-logs-index .close-button {
  background: transparent;
  padding: 0;
  margin-top: -1.25rem;
}

.kaui-audit-logs-index .close-button:hover {
  background: transparent;
  padding: 0;
}

.kaui-audit-logs-index .border-button {
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #d5d7da;
  border-radius: 0.375rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.625rem;
}

.kaui-audit-logs-index .border-button:hover {
  background: transparent;
}

.kaui-audit-logs-index .button {
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.625rem;
}

.kaui-audit-logs-index .button:hover {
  background: transparent;
}

.kaui-audit-logs-index .field-label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #414651;
  margin-top: -1.25rem;
  min-width: 9.59375rem;
}

.kaui-audit-logs-index .search-field-label {
  margin-top: -1.25rem;
}

.kaui-audit-logs-index .form-group.row.align-items-center {
  display: flex;
  align-items: center;
}

.kaui-audit-logs-index .form-group.row.align-items-center label {
  margin-bottom: 0;
}

.kaui-audit-logs-index .form-group.row.align-items-center .form-control {
  margin-right: 0.25rem;
  height: 2.5rem;
  border-radius: 0.375rem;
}

.kaui-audit-logs-index .form-group.row.align-items-center.search-field div {
  padding: 0;
  margin-right: 0.25rem;
}

.kaui-audit-logs-index .form-group.row.align-items-center .form-control:focus {
  outline: none;
  box-shadow: none;
}

.kaui-audit-logs-index .form-group.d-flex {
  display: flex;
  align-items: center;
}

.kaui-audit-logs-index .form-group.d-flex label {
  margin-bottom: 0;
}

.kaui-audit-logs-index .form-group.d-flex .form-control {
  margin-right: 0.25rem;
  height: 2.5rem;
  border-radius: 0.375rem;
}

.kaui-audit-logs-index .form-group.d-flex .form-control:focus {
  outline: none;
  box-shadow: none;
}

.kaui-audit-logs-index #search-labels-container .label {
  margin-left: 0.3125rem;
  margin-bottom: 0.3125rem;
  color: white;
}

.kaui-audit-logs-index .col-form-label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #414651;
  padding: 0;
}

.kaui-audit-logs-index #search-fields-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0.75rem;
}

.kaui-audit-logs-index .filter-bar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.kaui-audit-logs-index .filter-bar {
  display: flex;
  align-items: center;
}

.kaui-audit-logs-index .filter-bar label {
  margin: 0.625rem;
}

.kaui-audit-logs-index .modal-header .icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #d5d7da;
  border-radius: 0.375rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
}

.kaui-audit-logs-index .modal-header .icon-container img {
  width: 1.25rem;
  height: 1.25rem;
}

.kaui-audit-logs-index .form-group select.form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url('data:image/svg+xml;utf8,<svg width="1rem" height="1rem" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6L8 10L12 6" stroke="%23A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  background-size: 1rem 1rem;

  padding-right: 1.875rem;
}

.kaui-audit-logs-index select.form-control:focus {
  box-shadow: none;
  outline: none;
}
