/* app/views/kaui/chargebacks/new.html.erb */

.process-chargeback-modal .add-account-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0;
  color: #1b1c1e;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

.process-chargeback-modal .icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #d5d7da;
  border-radius: 0.375rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
}

.process-chargeback-modal .icon-container img {
  width: 1rem;
  height: 1rem;
}

/* app/views/kaui/chargebacks/_form.html.erb */

.process-chargeback-modal .control-label {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  line-height: 1.25rem !important;
  color: #414651 !important;
}

.process-chargeback-modal .question-circle {
  color: #a4a7ae;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  line-height: 1rem;
  text-align: center;
}

.process-chargeback-modal .col-sm-9.position-relative a {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.process-chargeback-modal .form-group.d-flex.pb-3 .form-control {
  height: 2.5rem;
  border-radius: 0.375rem;
}

.process-chargeback-modal .form-group.d-flex .form-control:focus {
  outline: none;
  box-shadow: none;
  border: 0.0625rem solid #1a73e8;
}

.process-chargeback-modal .form-group select.form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6L8 10L12 6" stroke="%23A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  background-size: 1rem 1rem;

  padding-right: 1.875rem;
}

.process-chargeback-modal select.form-control:focus {
  box-shadow: none;
  outline: none;
}

.process-chargeback-modal .checkbox label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #414651;
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.process-chargeback-modal .form-group.d-flex .currency-group input {
  border-right: 0;
  border-radius: 0.375rem 0 0 0.375rem !important;
}

.process-chargeback-modal .form-group.d-flex .currency-group .currency {
  border-left: 0 !important;
  border: 0.0625rem solid #ced4da;
  border-radius: 0 0.375rem 0.375rem 0 !important;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #535862;
}

.process-chargeback-modal .help-block {
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #535862;
}
