.clock-container {
  max-width: 80rem;
  width: 100%;
}

.clock-container .clock-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0;
  border-bottom: 0.0625rem solid #e9eaeb;
  padding-bottom: 1rem;
}

.clock-container .clock-header h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #414651;
  margin: 0;
}

.clock-container .clock-header p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #535862;
  margin: 0;
}

.clock-container .trigger-invoice-box b {
  display: block;
  margin-bottom: 0.25rem;
  color: #414651 !important;
  font-weight: 600;
  font-size: 0.875rem !important;
  line-height: 1.25rem;
  text-align: left;
}

.clock-container .trigger-invoice-box button {
  margin-left: 0.3125rem;
  padding: 0.5rem 1rem;
}

.clock-container .date-picker {
  flex: 1;
  max-width: 12.5rem;
}

.clock-container .form-check-input {
  margin-top: 0.25rem;
}

.clock-container .custom-date-input-wrapper {
  padding: 0 0.625rem !important;
  border: 0.0625rem solid #d5d7da !important;
  border-radius: 0.375rem;
  cursor: pointer;
  background-color: #fff;
}

.clock-container .custom-date-input-wrapper svg {
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.clock-container .custom-date-input-wrapper input {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0 !important;
  font-size: 1rem;
  color: #6b7280;
  height: 2.5rem;
}

.clock-container .custom-date-input-wrapper input::placeholder {
  color: #717680;
}

.clock-container .custom-date-input-wrapper input.form-control {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.clock-container .dots-menu {
  padding: 0 !important;
  background-color: transparent !important;
  border: none !important;
  text-decoration: none !important;
  color: #175cd3 !important;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: capitalize;
  margin-top: 0.25rem;
}

.clock-container .dots-menu img {
  margin-right: 0.25rem !important;
}
