.kaui-account-custom-fields-index .custom-fields {
  width: 67.5625rem;
}

.kaui-account-custom-fields-index .custom-fields .custom-fields-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0;
  border-bottom: 0.0625rem solid #e9eaeb;
}

.kaui-account-custom-fields-index .custom-fields .custom-fields-header h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #414651;
  margin-bottom: 1.25rem;
}

.kaui-account-custom-fields-index .custom-fields .bundle-details-header b {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  color: #414651;
}

.kaui-account-custom-fields-index .custom-fields .bundle-details-header p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  color: #717680;
}

.kaui-account-custom-fields-index .custom-fields .custom-fields-table {
  overflow-x: auto;
  min-width: 100%;
}

.kaui-account-custom-fields-index .custom-fields .custom-fields-table th {
  padding: 0.375rem 1.625rem 0.375rem 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0;
  color: #717680;
  text-transform: capitalize;
}

.kaui-account-custom-fields-index
  .custom-fields
  .custom-fields-table
  tr
  td:not(:first-child)
  a {
  color: #535862 !important;
  text-decoration: none !important;
}

.kaui-account-custom-fields-index
  .custom-fields
  .custom-fields-table
  .category-bedge {
  display: inline-block;
  padding: 0.125rem 0.5rem !important;
  border: 0.0625rem solid #f5f5f5 !important;
  border-radius: 624.9375rem;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  line-height: 1.125rem !important;
  text-align: start;
  color: #414651 !important;
  background-color: #fafafa;
  text-transform: capitalize;
}

.kaui-account-custom-fields-index
  .custom-fields
  .custom-fields-table
  .phase-type {
  display: inline-block;
  padding: 0.125rem 0.5rem !important;
  border: 0.0625rem solid #d1e9ff !important;
  border-radius: 624.9375rem;
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  line-height: 1.125rem !important;
  text-align: start;
  color: #175cd3 !important;
  background-color: #eff8ff;
  text-transform: capitalize;
}

.kaui-account-custom-fields-index .custom-fields .custom-fields-table td {
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  padding: 1rem 0.5rem !important;
  line-height: 1.125rem !important;
  text-align: start;
  color: #535862 !important;
}

.kaui-account-custom-fields-index .custom-fields .search table th:first-of-type,
.search table td:first-of-type {
  font-weight: 500 !important;
}

.kaui-account-custom-fields-index .custom-fields .cancel-menu ul {
  padding: 0.25rem 0.375rem !important;
  min-width: 16rem;
}

.kaui-account-custom-fields-index .custom-fields .cancel-menu li {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.kaui-account-custom-fields-index .custom-fields .cancel-menu li:hover {
  background-color: #fafafa !important;
}

.kaui-account-custom-fields-index .custom-fields .cancel-menu li a {
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  letter-spacing: 0 !important;
  color: #717680 !important;
  text-transform: capitalize !important;
  text-decoration: none;
}

.kaui-account-custom-fields-index .custom-fields .cancel-button {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  color: #d92d20 !important;
  flex-direction: row-reverse;
  text-transform: capitalize;
  gap: 0.0625rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  margin-left: 0.75rem;
  text-decoration: none;
}

.kaui-account-custom-fields-index .custom-fields table.dataTable {
  overflow: auto !important;
}

.kaui-account-custom-fields-index .custom-fields .dots-menu {
  padding: 0 !important;
  background-color: transparent !important;
  border: none !important;
  margin-left: 0.75rem !important;
}

.kaui-account-custom-fields-index .custom-fields .change-btn {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  color: #535862;
  margin-left: 0.75rem;
  text-decoration: none;
}

.kaui-account-custom-fields-index
  .custom-fields
  table.custom-fields-table
  thead
  tr
  th::after {
  content: "" !important;
  display: inline-block !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3 5.5L6 2.5L9 5.5' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 0.75rem 0.75rem !important;
  position: absolute !important;
  right: 0.5rem !important;
  top: 45% !important;
  transform: translateY(-50%) !important;
}

.kaui-account-custom-fields-index
  .custom-fields
  table.custom-fields-table
  thead
  tr
  th::before {
  content: "" !important;
  display: inline-block !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3 6.5L6 9.5L9 6.5' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 0.75rem 0.75rem !important;
  position: absolute !important;
  right: 0.5rem !important;
  bottom: 45% !important;
  transform: translateY(50%) !important;
}

.kaui-account-custom-fields-index
  .custom-fields
  .pagination
  a:not(:first-child):not(:last-child) {
  color: #717680;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
}

.kaui-account-custom-fields-index
  .custom-fields
  .pagination
  a:not(:first-child):not(:last-child).btn-primary {
  color: #414651;
  background-color: #f5f5f5 !important;
  border: 0 !important;
}

.kaui-account-custom-fields-index .custom-fields .dataTables_paginate {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

.kaui-account-custom-fields-index
  .custom-fields
  .dataTables_paginate
  span
  .paginate_button {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: #717680 !important;
  text-decoration: none;
  border: 0 !important;
}

.kaui-account-custom-fields-index
  .custom-fields
  .dataTables_paginate
  .paginate_button:hover {
  background-color: #f3f4f6;
}

.kaui-account-custom-fields-index
  .custom-fields
  .dataTables_paginate
  .paginate_button.current {
  background-color: #f5f5f5 !important;
  border-radius: 0.375rem !important;
  color: #414651 !important;
}

.kaui-account-custom-fields-index
  .custom-fields
  .dataTables_paginate
  .paginate_button.last,
.kaui-account-custom-fields-index
  .custom-fields
  .dataTables_paginate
  .paginate_button.previous {
  border: 0.0625rem solid #e5e7eb;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem 0.875rem;
  color: #374151;
}

.kaui-account-custom-fields-index .custom-fields #custom_fields-table_filter {
  position: absolute;
  right: 0;
  top: -4.375rem;
}

.kaui-account-custom-fields-index .dataTables_empty {
  text-align: center !important;
}

.kaui-account-custom-fields-index
  .custom-fields
  #custom_fields-table_filter
  input {
  width: 20rem;
  height: 2.2rem;
  padding: 0.3rem 1rem;
  border: 0.0625rem solid #e5e7eb;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #414651;
  outline: none;
}

.kaui-account-custom-fields-index
  .custom-fields
  #custom_fields-table_filter
  input:focus {
  border-color: blue;
}

.kaui-account-custom-fields-index
  .custom-fields
  #custom_fields-table_wrapper
  .row:nth-of-type(2) {
  margin-top: 1.5rem;
}

.kaui-account-custom-fields-index
  .custom-fields
  #custom_fields-table
  tbody
  tr
  td
  span {
  padding: 0.125rem 0.5rem;
  border-radius: 62.4375rem;
  background-color: #eff8ff;
  border: 0.0625rem solid #d1e9ff;
  color: #175cd3;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

/* app/views/kaui/custom_fields/index.html.erb */

.kaui-custom-fields-index .custom-fields-details-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 0;
  border-bottom: 0.0625rem solid #e9eaeb;
}

.kaui-custom-fields-index .custom-fields-details-header h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #414651;
  margin-bottom: 1.25rem;
}

.kaui-custom-fields-index table {
  overflow-x: auto;
  min-width: 100%;
}

.kaui-custom-fields-index table th {
  padding: 0.375rem 0.75rem !important;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0;
  color: #717680;
  text-transform: capitalize;
  white-space: nowrap;
}

.kaui-custom-fields-index table td {
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  padding: 1rem 0.5rem !important;
  line-height: 1.125rem !important;
  text-align: start;
  color: #535862 !important;
}

.kaui-custom-fields-index table thead tr th::after {
  content: "" !important;
  display: inline-block !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3 5.5L6 2.5L9 5.5' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 0.75rem 0.75rem !important;
  position: absolute !important;
  right: 0.5rem !important;
  top: 45% !important;
  transform: translateY(-50%) !important;
}

.kaui-custom-fields-index table thead tr th::before {
  content: "" !important;
  display: inline-block !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3 6.5L6 9.5L9 6.5' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 0.75rem 0.75rem !important;
  position: absolute !important;
  right: 0.5rem !important;
  bottom: 45% !important;
  transform: translateY(50%) !important;
}

.kaui-custom-fields-index
  .tag-definitions-table
  tbody
  tr
  td:nth-of-type(5)
  span {
  padding: 0.125rem 0.5rem;
  border-radius: 62.4375rem;
  background-color: #eff8ff;
  border: 0.0625rem solid #d1e9ff;
  color: #175cd3;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.kaui-custom-fields-index
  .tag-definitions-table
  tbody
  tr
  td:nth-of-type(4)
  .true {
  padding: 0.125rem 0.5rem;
  border-radius: 62.4375rem;
  background-color: #ecfdf3;
  border: 0.0625rem solid #dcfae6;
  color: #067647;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.kaui-custom-fields-index
  .tag-definitions-table
  tbody
  tr
  td:nth-of-type(4)
  .false {
  padding: 0.125rem 0.5rem;
  border-radius: 62.4375rem;
  background-color: #fef3f2;
  border: 0.0625rem solid #fee4e2;
  color: #b42318;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.kaui-custom-fields-index .tag-definitions-table tbody tr td:nth-of-type(6) a {
  color: #d92d20;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-decoration: none;
}

.kaui-custom-fields-index #custom_fields-table_filter {
  position: absolute;
  top: -4.375rem;
  right: 8rem;
}

.kaui-custom-fields-index #custom_fields-table_filter input {
  width: 20rem;
  height: 2.2rem;
  padding: 0.3rem 1rem;
  border: 0.0625rem solid #e5e7eb;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #414651;
  outline: none;
}

.kaui-custom-fields-index #custom_fields-table_filter input:focus {
  border-color: blue;
}

.kaui-custom-fields-index .pagination a:not(:first-child):not(:last-child) {
  color: #717680;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
}

.kaui-custom-fields-index
  .pagination
  a:not(:first-child):not(:last-child).btn-primary {
  color: #414651;
  background-color: #f5f5f5 !important;
  border: 0 !important;
}

.kaui-custom-fields-index div:has(> div > .dataTables_paginate) {
  margin-top: 1.5rem;
}

.kaui-custom-fields-index .dataTables_paginate {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
}

.kaui-custom-fields-index .dataTables_paginate span .paginate_button {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: #717680 !important;
  text-decoration: none;
  border: 0 !important;
}

.kaui-custom-fields-index .dataTables_paginate .paginate_button:hover {
  background-color: #f3f4f6;
}

.kaui-custom-fields-index .dataTables_paginate .paginate_button.current {
  background-color: #f5f5f5 !important;
  border-radius: 0.375rem !important;
  color: #414651 !important;
}

.kaui-custom-fields-index .dataTables_paginate .paginate_button.last,
.kaui-custom-fields-index .dataTables_paginate .paginate_button.previous {
  border: 0.0625rem solid #e5e7eb;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem 0.875rem;
  color: #374151;
}


.kaui-account-custom-fields-index #custom_fields-table_length {
  position: absolute;
  left: 14rem;
  bottom: 0;
}

.kaui-account-custom-fields-index #custom_fields-table_length select {
  width: 5rem;
  height: 2.2rem;
  padding: 0.3rem;
  padding-right: 1.875rem;
  border: 0.0625rem solid #e5e7eb;
  border-radius: 0.375rem;
}

.kaui-account-custom-fields-index #custom_fields-table_length select:focus {
  outline: none;
  box-shadow: none;
  border: 0.0625rem solid #e5e7eb;
}

.kaui-account-custom-fields-index #custom_fields-table_length select {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.0625rem solid #ced4da;
  border-radius: 0.375rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4 6L8 10L12 6' stroke='%23A4A7AE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.3125rem center;
  background-size: 1rem 1rem;
  padding: 0 1.25rem 0 0.5rem;
}

/* app/views/kaui/custom_fields/new.html.erb */

.add-new-custom-field-details .add-new-custom-field-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0;
  color: #1b1c1e;
  padding: 1.5rem 0;
}

.add-new-custom-field-details .icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #d5d7da;
  border-radius: 0.375rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
}

.add-new-custom-field-details .icon-container img {
  width: 1rem;
  height: 1rem;
}

.add-new-custom-field-details .control-label {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  line-height: 1.25rem !important;
  color: #414651 !important;
}

.add-new-custom-field-details select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6L8 10L12 6" stroke="%23A4A7AE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  background-size: 1rem 1rem;
}

.add-new-custom-field-details select:focus {
  box-shadow: none;
  outline: none;
  border-color: #1570ef;
}

.add-new-custom-field-details .form-group .form-control {
  margin-right: 0.25rem;
  height: 2.5rem;
  border-radius: 0.375rem;
}
