.dashboard-card {
  transition: box-shadow 0.2s ease;
}

.dashboard-card:hover {
  box-shadow: 0 0.375rem 1.25rem rgba(0, 0, 0, 0.06);
}

/* Rounded sections */
.dashboard-card {
  border-radius: 0.7rem;
}

.dashboard-card-divider {
  border-top: 0.0625rem solid #e9ecef;
}

.dashboard-card-icon {
  height: 3rem;
  width: 3rem;
}

.setting-card-icon {
  height: 2.5rem;
  width: 2.5rem;
}

/* Disabled setting card styles */
.disabled-setting-card {
  cursor: not-allowed !important;
  opacity: 0.6 !important;
  position: relative;
}

.disabled-setting-card .tooltip-text {
  visibility: hidden !important;
  position: absolute;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
  z-index: 1000;
  margin-bottom: 5px;
  opacity: 0 !important;
  transition: opacity 0.2s, visibility 0.2s;
}

.disabled-setting-card:hover .tooltip-text {
  visibility: visible !important;
  opacity: 1 !important;
}
