/* 2. Table wrapper — white card with rounded corners & soft shadow */
.dataTables_wrapper {
  background: #fff;
  margin-bottom: 2rem;
}

.dataTables_scroll {
  margin-bottom: 1.5rem;
}

#accounts-table {
  margin-top: 0rem !important;
}

table.dataTable {
  width: 100% !important;
  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 0.375rem;
  overflow: hidden;
  font-size: 0.95rem;
  border: 0rem !important;
}

table.dataTable thead tr {
  border: 0rem !important;
}

table.dataTable thead {
  border: 0rem !important;
}

table th:first-of-type,
.search table td:first-of-type {
  padding-left: 1.25rem !important;
  font-weight: 600 !important;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: blue;
}

tbody tr td:first-of-type a {
  color: #1570ef !important;
  text-decoration: none;
}

table.dataTable thead th {
  background-color: #fafafa;
  font-weight: 500 !important;
  padding: 0.75rem;
  border: 0rem !important;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: #717680;
  text-transform: capitalize;
}

table.dataTable tbody td {
  padding: 0.9375rem 0.75rem !important;
  vertical-align: middle;
  border-bottom: 0.0625rem solid #e9eaeb !important;
  font-weight: 400 !important;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #535862;
}

table.dataTable tbody tr:hover {
  background-color: #f5f7fa;
}

table.dataTable td input[type="checkbox"] {
  margin: 0 auto;
  display: block;
}

.dataTables_filter {
  margin-bottom: 1rem;
  text-align: right;
}

.dataTables_filter input {
  border-radius: 0.5rem;
  padding: 0.4rem 0.75rem;
  border: 0.0625rem solid #ced4da;
  font-size: 0.9rem;
  width: auto;
  display: inline-block;
}

.dataTables_paginate {
  margin-top: 1rem;
  text-align: right;
}

.paginate_button {
  border: none !important;
  margin: 0 0.1875rem !important;
  border-radius: 0.375rem !important;
  padding: 0.375rem 0.625rem !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  line-height: 1.25rem !important;
  color: #414651 !important;
  border: 0.0625rem solid #d5d7da !important;
}

.paginate_button.current,
.paginate_button:hover {
  background: #fff !important;
  color: #414651 !important;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.dataTables_processing {
  padding: 6.25rem 0rem !important;
}

.dataTables_info {
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.25rem !important;
  color: #717680 !important;
}
