/* 2. Table wrapper — white card with rounded corners & soft shadow */
.dataTables_wrapper {
  background: var(--kb-neutral-0);
  margin-bottom: 2rem;
}

.dataTables_scroll {
  margin-bottom: 1.5rem;
}

#accounts-table {
  margin-top: 0rem !important;
}

table.dataTable {
  width: 100% !important;
  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 0.375rem;
  overflow: hidden;
  font-size: 0.95rem;
  border: 0rem !important;
}

table.dataTable thead tr {
  border: 0rem !important;
}

table.dataTable thead {
  border: 0rem !important;
}

table th:first-of-type,
.search table td:first-of-type {
  padding-left: 1.25rem !important;
  font-weight: 600 !important;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--kb-primary);
}

tbody tr td:first-of-type a {
  color: var(--kb-primary) !important;
  text-decoration: none;
}

table.dataTable thead th {
  background-color: var(--kb-surface-container-low);
  font-weight: 500 !important;
  padding: 0.75rem;
  border: 0rem !important;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: var(--kb-on-surface-quaternary);
  text-transform: capitalize;
}

table.dataTable tbody td {
  padding: 0.9375rem 0.75rem !important;
  vertical-align: middle;
  border-bottom: 0.0625rem solid var(--kb-outline-primary) !important;
  font-weight: 400 !important;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--kb-on-surface-tertiary);
}

table.dataTable tbody tr:hover {
  background-color: var(--kb-surface-container-low);
}

table.dataTable td input[type="checkbox"] {
  margin: 0 auto;
  display: block;
}

.dataTables_filter {
  margin-bottom: 1rem;
  text-align: right;
}

.dataTables_filter input {
  border-radius: 0.5rem;
  padding: 0.4rem 0.75rem;
  border: 0.0625rem solid var(--kb-outline-secondary);
  font-size: 0.9rem;
  width: auto;
  display: inline-block;
}

.dataTables_paginate {
  margin-top: 1rem;
  text-align: right;
}

.paginate_button {
  border: none !important;
  margin: 0 0.1875rem !important;
  border-radius: 0.375rem !important;
  padding: 0.375rem 0.625rem !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  line-height: 1.25rem !important;
  color: var(--kb-on-surface-secondary) !important;
  border: 0.0625rem solid var(--kb-outline-secondary) !important;
}

.paginate_button.current,
.paginate_button:hover {
  background: var(--kb-neutral-0) !important;
  color: var(--kb-on-surface-secondary) !important;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.dataTables_processing {
  padding: 6.25rem 0rem !important;
}

.dataTables_info {
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.25rem !important;
  color: var(--kb-on-surface-quaternary) !important;
}
