/*
 * Header Layout
 */
header {
  padding: 1.5625rem 0;
  background: #fff;
  border-bottom: 0.0625rem solid #ccc;
}
header img {
  vertical-align: middle;
}
@media (max-width: 48rem) {
  header img {
    display: block;
    margin: 0 auto 0.625rem;
  }
}
header #searchform {
  margin: 0 1.875rem;
  vertical-align: middle;
  position: relative;
  display: inline-block;
}
@media (max-width: 48rem) {
  header #searchform {
    width: 11.5625rem;
    display: block;
    margin: 0 auto 0.625rem;
  }
}
header #searchform input[type="text"] {
  padding-right: 1.75rem;
}
@media (max-width: 64rem) {
  header #searchform input[type="text"] {
    width: 6.25rem;
  }
}
@media (max-width: 48rem) {
  header #searchform input[type="text"] {
    width: 100%;
  }
}
header #searchform input[type="submit"] {
  display: block;
  width: 1.125rem;
  height: 0.9375rem;
  position: absolute;
  top: 0.4375rem;
  right: 0.3125rem;
  background: url("kaui/search.png") no-repeat top left;
  border: 0;
  text-indent: 999999px;
  overflow: hidden;
  outline: 0;
  padding: 0;
}
header a {
  font-size: 0.75rem;
  text-transform: uppercase;
}
@media (max-width: 48rem) {
  header a {
    text-align: center;
    display: block;
  }
}
@media (max-width: 48rem) {
  header nav {
    text-align: center;
  }
}
header nav ul {
  padding: 0.375rem 0;
  margin: 0;
}
@media (max-width: 64rem) {
  header nav ul {
    text-align: center;
  }
  header nav ul.account-menu {
    margin: -0.625rem 0;
  }
}
header nav ul li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
header nav ul li a {
  color: #777777;
  padding: 0 0.625rem;
  border-right: 0.0625rem solid #ccc;
}
header nav ul li a:hover {
  color: #000;
}
header nav ul li:last-of-type a {
  border: 0;
}

.title-nav-area {
  background: #c7e4e7;
  margin: 0 0 1.875rem;
  font-size: 0;
  margin-top: -2.5rem;
}
@media (max-width: 48rem) {
  .title-nav-area .container {
    text-align: center;
    width: 100%;
    padding: 0 0.9375rem;
  }
}
.title-nav-area a,
.title-nav-area p {
  display: inline-block;
  padding: 0.75rem 2.5rem;
  font-size: 0.75rem;
  margin: 0;
  line-height: 0.75rem;
  background: transparent;
  vertical-align: top;
}
@media (max-width: 48rem) {
  .title-nav-area a,
  .title-nav-area p {
    width: 30%;
    padding: 0.75rem 0;
    text-align: center;
    border-bottom: 0.0625rem solid #fff;
  }
  .title-nav-area a:nth-of-type(4),
  .title-nav-area a:nth-of-type(5),
  .title-nav-area p:nth-of-type(4),
  .title-nav-area p:nth-of-type(5) {
    width: 45%;
  }
  .title-nav-area a:nth-of-type(3),
  .title-nav-area a:nth-of-type(5),
  .title-nav-area p:nth-of-type(3),
  .title-nav-area p:nth-of-type(5) {
    border-right: 0.0625rem solid #fff;
  }
}
@media (max-width: 28.125rem) {
  .title-nav-area a,
  .title-nav-area p {
    width: 50%;
    border: 0;
  }
  .title-nav-area a:nth-of-type(2),
  .title-nav-area a:nth-of-type(4),
  .title-nav-area a:nth-of-type(5),
  .title-nav-area p:nth-of-type(2),
  .title-nav-area p:nth-of-type(4),
  .title-nav-area p:nth-of-type(5) {
    border-right: 0.0625rem solid #fff;
  }
  .title-nav-area a:nth-of-type(3),
  .title-nav-area p:nth-of-type(3) {
    border-right: 0;
  }
  .title-nav-area a:nth-of-type(4),
  .title-nav-area p:nth-of-type(4) {
    width: 50%;
  }
  .title-nav-area a:nth-of-type(5),
  .title-nav-area p:nth-of-type(5) {
    width: 100%;
  }
}
.title-nav-area a {
  color: #666666;
  text-transform: uppercase;
  border-left: 0.0625rem solid #fff;
}
.title-nav-area a:hover,
.title-nav-area a.current {
  color: #fff;
  background: #00919d;
}
.title-nav-area a:last-of-type {
  border-right: 0.0625rem solid #fff;
}
.title-nav-area p {
  font-weight: normal;
}

/* Updated */
.search-container {
  max-width: 40.625rem;
  width: 100%;
}
.search-box {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 0.5rem;
}
.search-box input.form-control::-webkit-input-placeholder {
  color: #717680;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal !important;
  opacity: 1; /* required for Firefox */
}
.dropdown-menu {
  padding: 0.75rem 0;
  box-shadow: 0 0.375rem 1.5rem rgba(0, 0, 0, 0.08);
  border-radius: 2rem;
}
ul.header-menu {
}
ul.header-menu li a {
  height: 2.25rem;
  padding: 0 1rem;
}
ul.header-menu li span {
  text-transform: none;
}
.autocomplete-box {
  z-index: 1050;
  max-height: 26.25rem;
  overflow-y: auto;
}
.header-tag {
  border: 0.0625rem solid #ccc;
}
.header-tag a {
  text-transform: none;
  font-size: 1rem;
}
.header-tag:hover {
  background-color: #fff !important;
}
