/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
*/
.popover {
  max-width: 21.875rem;
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: image-url("glyphicons-halflings-regular.eot");
  src: image-url("glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
    image-url("glyphicons-halflings-regular.woff") format("woff"),
    image-url("glyphicons-halflings-regular.ttf") format("truetype"),
    image-url("glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
