<header class='hero-unit'>
  <h1>Welcome to Kaui!</h1>
  <p class='lead'>Online documentation can be found at <a href='http://kill-bill.org/' target='_blank'>http://kill-bill.org/</a></p>

  <p>About your application&rsquo;s environment:
    <ul>
      <li>Kill Bill url: <%= KillBillClient.url %></li>
    </ul>
  </p>
</header>
