<%= form_tag search_path, :class => 'form-inline', :method => 'get' do %>
    <div class="form-group">
      <%= text_field_tag :q, @search_query, :class => 'form-control' %>
    </div>
    <%= button_tag 'Search', :class => 'btn btn-primary' %>
<% end %>
