<%= form_tag search_path, :class => 'form-horizontal', :method => 'get' do %>
    <fieldset>
      <div class="control-group">
        <div class="controls">
          <%= text_field_tag :q, @search_query, :class => 'input-xlarge' %>
        </div>
      </div>
      <div class="form-actions">
        <%= button_tag 'Search', :class => 'btn btn-primary' %>
      </div>
    </fieldset>
<% end %>
