<header class='hero-unit'>
  <h1>Welcome to Kaui!</h1>
  <p class='lead'>Online documentation can be found at <a href='http://killbilling.org/' target='_blank'>http://killbilling.org/</a></p>

  <p>About your application&rsquo;s environment:
    <ul>
      <li>Killbill url: <%= Kaui.killbill_finder.call %></li>
    </ul>
  </p>
</header>
