<% unless @allowed_users.empty? %>
    <table id="allowed-users-table" class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <% @allowed_users.each do |u| %>
          <tr>
            <td><%= link_to u.kb_username, admin_allowed_user_path(u.id) %></td>
            <td><%= u.description %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<% if can? :create, Kaui::AdminTenant %>
    <h3><%= link_to 'Add a new user', new_admin_allowed_user_path %></h3>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
      $('#allowed-users-table').dataTable({
      "dom": "t",
      "paging": false
    });
  });
<% end %>
