<% if can? :view, Kaui::AdminTenant %>
    <dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @allowed_user.kb_username %>&nbsp;</dd>
  <dt>Tenant ID:</dt>
  <dd><%= @allowed_user.description %>&nbsp;</dd>
</dl>

<div class="form-actions">
  <%= link_to 'Back', :back, :class => 'btn' %>
</div>
<% end %>
