<% if can? :add, Kaui::Tag or can? :remove, Kaui::Tag %>
    <%= link_to 'Add/Remove', tags_url_or_path, :class => 'btn btn-xs' %>
<% end %>
<% if tags.present? %>
    <% tags.each_with_index do |tag, idx| %>
        <span><%= tag.tag_definition_name %>
          <% if idx < tags.length - 1 %>, <% end %></span>
    <% end %>
    <br/>
<% end %>
