<%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "" } do |f| %>

<%= render "kaui/components/form_input/form_input", f: f, field: :kb_username, label: t("devise.sessions.new.username"), placeholder: t("devise.sessions.new.enter_username") %>
<%= render "kaui/components/form_password/form_password", f: f, field: :password, label: t("devise.sessions.new.password"), placeholder: "*****" %>

<div class="d-grid mt-4">
    <%= render "kaui/components/button/button", label: t("devise.sessions.new.log_in"), variant: "btn-primary custom-hover", type: "submit", html_class: "w-100" %>
</div>
<% end %>