<%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "" } do |f| %>

<%= render "kaui/components/form_input/form_input", f: f, field: :kb_username, label: "Email", placeholder: "Enter your email" %>
<%= render "kaui/components/form_password/form_password", f: f, field: :password, label: "Password", placeholder: "••••••••" %>

<div class="d-grid mt-4">
    <%= render "kaui/components/button/button", label: "Sign in", variant: "btn-primary", type: "submit", html_class: "w-100" %>
</div>
<% end %>