<div class="auth-form-container">
    <div class="auth-form-background" style="background-image: url(<%= asset_path('kaui/sign_in_background.svg') %>)"></div>
    <div class="auth-form-content">
        <div class="text-center mb-4">
            <%= render "kaui/components/logo/logo" %>
            <h2 class="text-black-900 mt-4 mb-0 fs-2 fw-600">Log in to your account</h2>
            <p class="text-tertiary mt-2 text-center fs-6 fw-normal">Welcome back! Please enter your details.</p>
        </div>
        <%= render 'form' %>
    </div>
</div>