<% identifier = "Settings" %>

<% menu_items = [
  session[:tenant_id].present? ? { label: @tenant.name, path: kaui_engine.admin_tenant_path(session[:tenant_id]), controller_suffix: "#{session[:tenant_id]}", icon_path: 'kaui/setting/account.svg' } : nil,
  { label: 'Tenants', path: kaui_engine.admin_tenants_path, controller_suffix: 'admin_tenants', icon_path: 'kaui/setting/tenants.svg' },
  { label: 'Users', path: kaui_engine.admin_allowed_users_path, controller_suffix: 'admin_allowed_users', icon_path: 'kaui/setting/users.svg' },
  { label: 'Tags', path: kaui_engine.tags_path, controller_suffix: 'tags', icon_path: 'kaui/setting/tags.svg' },
  { label: 'Tag Definitions', path: kaui_engine.tag_definitions_path, controller_suffix: 'tag_definitions', icon_path: 'kaui/setting/tag-definitions.svg' },
  { label: 'Custom Fields', path: kaui_engine.custom_fields_path, controller_suffix: 'custom_fields', icon_path: 'kaui/setting/custom-field.svg' },
  { label: 'Plugin Manager', path: "/kpm", controller_suffix: 'kpm', icon_path: 'kaui/setting/plugins.svg' },
  { label: 'E-notifications', path: "/kenui", controller_suffix: 'kenui', icon_path: 'kaui/setting/e-notifications.svg' },
  { label: 'Analytics', path: "/analytics", controller_suffix: 'analytics', icon_path: 'kaui/setting/analytics.svg' },
].compact %>

<% if menu_items.present? %>
  <div class="setting-sidebar-area">
    <div class="container">
      <p><%= identifier %></p>

      <% menu_items.each do |item| %>
        <% css_class = request.path == item[:path] ? 'current' : 'non-current' %>

        <%= link_to item[:path], class: css_class do %>
          <span class="icon">
            <%= image_tag(item[:icon_path], size: "20x20") %>
          </span>
          <%= item[:label] %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
