<% if params[:account_id].present? %>
  <div class="title-sidebar-area">
    <div class="container">
      <p><%= pretty_account_identifier %></p>

      <% menu_items = [
        { label: 'Account', path: kaui_engine.account_path(params[:account_id]), controller_suffix: 'accounts', icon_path: 'kaui/sidebar/account.svg' },
        { label: 'Subscriptions', path: kaui_engine.account_bundles_path(params[:account_id]), controller_suffix: 'bundles', icon_path: 'kaui/sidebar/subscriptions.svg' },
        { label: 'Invoices', path: kaui_engine.account_invoices_path(params[:account_id]), controller_suffix: 'invoices', icon_path: 'kaui/sidebar/invoices.svg' },
        { label: 'Payments', path: kaui_engine.account_payments_path(params[:account_id]), controller_suffix: 'payments', icon_path: 'kaui/sidebar/payments.svg' },
        { label: 'Timeline', path: kaui_engine.account_timeline_path(params[:account_id]), controller_suffix: 'timelines', icon_path: 'kaui/sidebar/timeline.svg' },
        { label: 'Tags', path: kaui_engine.account_tags_path(params[:account_id]), controller_suffix: 'tags', icon_path: 'kaui/sidebar/tags.svg' },
        { label: 'Custom Fields', path: kaui_engine.account_custom_fields_path(params[:account_id]), controller_suffix: 'custom_fields', icon_path: 'kaui/sidebar/custom-fields.svg' }
      ] %>

      <% if current_user.root? %>
        <% menu_items += [
          { label: 'Queues', path: kaui_engine.account_queues_path(params[:account_id]), controller_suffix: 'queues', icon_path: 'kaui/sidebar/queues.svg' },
          { label: 'Audit', path: kaui_engine.account_audit_logs_path(params[:account_id]), controller_suffix: 'logs', icon_path: 'kaui/sidebar/audit.svg' }
        ] %>
      <% end %>

      <% menu_items.each do |item| %>
        <% css_class = params[:controller].ends_with?(item[:controller_suffix]) ? 'current' : 'non-current' %>
        <%= link_to item[:path], class: css_class do %>
          <span class="icon">
            <%= image_tag(item[:icon_path], size: "20x20") %>
          </span>
          <%= item[:label] %>
        <% end %>
      <% end %>

      <% if account_closed? %>
        <span class="label label-danger">CLOSED</span>
      <% end %>
    </div>
  </div>
<% end %>



<style>
  .title-sidebar-area .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 8.4375rem;
    background-color: #fff;
  }

  .title-sidebar-area .container p {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #414651;
    margin-bottom: 1.25rem;
  }

  .title-sidebar-area .container a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: #717680;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    font-weight: 500;
    line-height: 1.25rem;
  }

  .title-sidebar-area .container a.current {
    background-color: #EFF8FF;
    color: #175CD3;
  }

  .title-sidebar-area .container a .icon {
    font-size: 1rem;
    width: 1.25rem;
    text-align: center;
  }

  .title-sidebar-area .container span.label.label-danger {
    margin-left: 1rem;
    color: #fff;
    background: #dc3545;
    padding: 0.125rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    display: inline-block;
    margin-top: 0.625rem;
  }

  .title-sidebar-area .container a .icon img {
    filter: grayscale(100%) brightness(0.7);
  }

  .title-sidebar-area .container a.current .icon img {
    /* Active icon - blue color */
    filter: brightness(0) saturate(100%) invert(32%) sepia(98%) saturate(748%) hue-rotate(189deg) brightness(93%) contrast(101%);
  }

</style>