<%- # :alert used by devise -%>
<% [:error, :alert].each do |key| %>
    <% if flash[key] %>
        <div class="row server-alert">
          <div class="col-md-12">
            <div class="alert alert-danger"><%= flash[key] %></div>
          </div>
        </div>
    <% end %>
<% end %>


<% if defined?(@account)  %>
<% if @account.errors.any? %>
  <h3>The following errors prevented the account from being created:</h3>

  <div class="row server-alert">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <% @account.errors.values.flatten.each do |msg| %>

          <li><%= msg %></li>

        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% end %>





<% if flash[:warning] %>
  <div class="row server-alert">
    <div class="col-md-12">
      <div class="alert alert-warning"><%= flash[:warning] %></div>
    </div>
  </div>
<% end %>
<% if flash[:notice] %>
    <div class="row server-alert">
      <div class="col-md-12">
        <div class="alert alert-info"><%= flash[:notice] %></div>
      </div>
    </div>
<% end %>
<!--This is for ajax calls that need to notify for error, to trigger this alert use ajaxAlert(message, timeout)-->
<div id="ajaxErrorAlert" class="row ajaxAlert" style="display: none">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span id="ajaxErrorAlertMessage" class="ajaxAlertMessage"></span>
    </div>
  </div>
</div>
<!--This is for ajax calls that need to notify information, to trigger this alert use ajaxInfo(message, timeout)-->
<div id="ajaxInfoAlert" class="row ajaxAlert" style="display: none">
  <div class="col-md-12">
    <div class="alert alert-info">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span id="ajaxInfoAlertMessage" class="ajaxAlertMessage"></span>
    </div>
  </div>
</div>
