<div class="search">

  <div class="column-block">

    <h1>Custom Fields</h1>
    <input type="hidden" id="custom-fields" value="<%= @custom_fields_json %>">
    <table id="custom_fields-table" class="table table-condensed mobile-data">
      <thead>
      <tr>
        <th>Object ID</th>
        <th>Object type</th>
        <th>Name</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="1" class="dataTables_empty">Loading data from server</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

<%= javascript_tag do %>
    $(document).ready(function() {
        var customFields = JSON.parse($("#custom-fields").val());
        $('#custom_fields-table').DataTable({
            "dom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
            data: customFields
        });
    });
<% end %>
