<tr>
  <th>Parent</th>
  <td>
    <% if account_parent.present? %>
        <%= link_to account_parent.account_id, kaui_engine.account_path(@account.parent_account_id) %>
        <% if can? :update, Kaui::Account %>
            <%= link_to '&nbsp;<i class="fa fa-times"></i>'.html_safe, kaui_engine.unlink_to_parent_path(@account.account_id), :method => :delete %>
        <% end %>&nbsp;
    <% end %>
    <% unless account_parent.present? %>
      <% if can? :update, Kaui::Account %>
          <button type="button" class="naked" data-toggle="modal" data-target="#link_account">&nbsp<i class="fa fa-plus"></i></button>
      <% end %>
    <% end %>
  </td>
</tr>