<h3 class="pageHeader">Accounts: <%= link_to 'Create new account', new_account_path %></h3>

<table id="accounts-table" class="table table-condensed">
  <thead>
  <tr>
    <th>Account ID</th>
    <th>Name</th>
    <th>External key</th>
    <th>Currency</th>
    <th>City</th>
    <th>Country</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="1" class="dataTables_empty">Loading data from server</td>
  </tr>
  </tbody>
</table>

<%= javascript_tag do %>
$(document).ready(function() {
  $('#accounts-table').dataTable({
    "sDom": "<'row-fluid'<'span6'l><'span6 tableSearch'f>r>t<'row-fluid clearfix'<'span6 pull-left'i><'span6 pages pull-right'p>>",
    "sPaginationType": "bootstrap",
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "<%= accounts_pagination_path :format => :json %>"
  });
});
<% end %>
