<div class="search">

  <div class="column-block">

    <% if @search_query.present? %>
        <h1>Showing search results for "<%= @search_query %>"</h1>
    <% else %>
        <h1>Showing all accounts</h1>
    <% end %>

    <table id="accounts-table" class="table table-condensed mobile-data">
      <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>External key</th>
        <th>Balance</th>
        <th>City</th>
        <th>Country</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="1" class="dataTables_empty">Loading data from server</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

<%= javascript_tag do %>
$(document).ready(function() {
  $('#accounts-table').dataTable({
    "dom": "<'row'r>t<'row'<'col-md-6'i><'col-md-6'p>>",
    "pagingType": "full_numbers",
    "pageLength": 50,
    "order": [[ 0, "asc" ]],
    "processing": true,
    "serverSide": true,
    "search": {"search": "<%= @search_query %>"},
    "ajax": "<%= accounts_pagination_path :format => :json %>"
  });
});
<% end %>
