<%= form_tag accounts_path, :class => "form-horizontal", :method => :get do %>
  <fieldset>
    <legend>Search accounts by id or external key</legend>
    <div class="control-group">
      <label class="control-label" for="account_id"><%=t :account %></label>
      <div class="controls">
        <%= text_field_tag 'account_id', @key, :class => "input-xlarge", :id => "account_id", :placeholder => "accountId, externalKey" %>
      </div>
    </div>
    <div class="form-actions">
      <%= button_tag "Search", :class =>"btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
