<table id="accounts-table" class="table table-condensed">
  <thead>
  <tr>
    <th>Account ID</th>
    <th>Name</th>
    <th>External key</th>
    <th>Currency</th>
    <th>City</th>
    <th>Country</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="1" class="dataTables_empty">Loading data from server</td>
  </tr>
  </tbody>
</table>

<%= javascript_tag do %>
$(document).ready(function() {
  $('#accounts-table').dataTable({
    "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
    "sPaginationType": "simple_numbers",
    "bProcessing": true,
    "bServerSide": true,
    "oSearch": {"sSearch": "<%= @search_query %>"},
    "sAjaxSource": "<%= accounts_pagination_path :format => :json %>"
  });
});
<% end %>
