<div class="mb-3">
    <%= f.label field, label, class: "form-label text-gray-700 fs-7" %>
    <%= f.text_field field, class: "form-control text-gray-700 fs-7", placeholder: placeholder, value: value %>
</div>
