table.dataTable {
  padding: 0;
}

table.dataTable thead th {
  position: relative;
}

table.dataTable thead th,
table.dataTable tbody td {
  vertical-align: middle;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  content: '' !important;
}
