<h3 class="pageHeader">Bundles</h3>

<table id="bundles-table" class="table table-condensed">
  <thead>
  <tr>
    <th>Bundle ID</th>
    <th>Account ID</th>
    <th>External key</th>
    <th>Subscriptions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="1" class="dataTables_empty">Loading data from server</td>
  </tr>
  </tbody>
</table>

<%= javascript_tag do %>
$(document).ready(function() {
  $('#bundles-table').dataTable({
    "sDom": "<'row-fluid'<'span6'l><'span6 tableSearch'f>r>t<'row-fluid clearfix'<'span6 pull-left'i><'span6 pages pull-right'p>>",
    "sPaginationType": "bootstrap",
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "<%= bundles_pagination_path :format => :json %>"
  });
});
<% end %>
