<div class="mb-3">
    <div class="d-flex justify-content-between align-items-center">
        <%= f.label field, label, class: "form-label text-gray-700 fs-7" %>
    </div>
    <%= f.password_field field, class: "form-control text-gray-700 fs-7", placeholder: placeholder, value: value %>
</div>
